
#status {
    position: relative;
    opacity: 0.6;
    text-align: center;
    font-size: 50pt;
    font-family: monospace;
    color: rgb(136, 3, 3);
    display:none;

}

#st {
    position: absolute;
    margin-top: 150px;
}

#contain,
#option,
#status {
    margin: auto;
    width: 600px;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
}

#contain,
#status {  
    
    height: 600px;
    background-color: #b3b3b3;
}

#contain {
    margin-top: -10px;
}

#gameoption {
    position: absolute;
    top: 18px;
    left: 250px;
    text-align: center;
}

#list {
    width: 150px;
    height: 35px;
    font-size: 17pt;
    font-family: monospace;
    font-weight: 800;
    text-align: center;
    border-radius: 5px;
    text-align: left;
    padding-left: 30px;
    background-color:#e9e9e9 ;
    border: 1px solid #b3b3b3;
    color:  rgb(235, 114, 2);
    outline: none;

}

#gameboard {
    width: 600px;
    height: 600px;
   
}

.d {
    width: 100%;
    height: 100%;
}

.box {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    font-family: monospace;
    font-size: 40pt;
    cursor: pointer;
    padding-top: 30px;
    
}

#option {
    margin-top: 20px;
    height: 70px;
    position: relative;
    background-color: #e9e9e9;
}

#time {
    position: absolute;
    
    top:20px;
    left: 20px;
}

#title,
#txttime,
#newgame {
    font-family: monospace;
    font-size: 17pt;
    color: rgb(235, 114, 2);
}

#txttime {
    margin-left: 10px;
    width: 120px;
    border: none;
    outline: none;
    text-align: right;
    background-color: #e9e9e9;
}

#title,
#txttime {
    font-weight: 800;
}

#bt {
    position: absolute;
    right: 20px;
    top: 18px;
    outline: none;
}
#newgame {
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    cursor: pointer;
}

#newgame:hover {
    box-shadow: 5px 5px 10px 1px gray;
}

#newgame:active {
    box-shadow: 8px 8px 10px 2px gray;
    color:rgb(204, 99, 1);
}